<!doctype html>
<html lang="en" ng-app="toppmart">
	<head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
		<title>stats page wip</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/base.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="http://momentjs.com/downloads/moment.js"></script>
        <script src="/static/app.js"></script>
	</head>
	<body>
        <div class="container" ng-controller="MainCtrl">
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
            <div class="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
	</body>
</html>